<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] BankingManagementSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BankingManagementSystem.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/sidebarnav.css" asp-append-version="true" />
    
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<script>
		jQuery(function ($) {

$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});  
   
});
	</script>	 
</head>

<body class="bg-dark">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
			<div class="container-fluid">

				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<div class="logofile">
						<img src="~/lib/images/Logo2.jpeg" alt="Images" />
					</div>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="AccountDetails"> Account Details </a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="FundTransfer" asp-action="Index">Fund Transfer</a>
						</li>
						@*<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">Change Password</a>
						</li>*@
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="AccountSummary">Account Summary </a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Statements">Account Statement</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Payee">AddPayee</a>
						</li>

					</ul>
					@*<partial name="_LoginPartial" />*@
					<partial name="_PartialLayout" />
					<div class="topnav-right">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item"> <a class="nav-link text-light" asp-area="" asp-controller="UserProfile" asp-action="Index"> <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="img-center" height="30" width="30" /></a></li>
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</header>

	<div class="container p-0 mw-20 ">
	<div class="page-wrapper chiller-theme toggle">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">MENU</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      
      <!-- sidebar-menu -->
      <div class="sidebar-menu">
        <ul>
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
			<li><a asp-controller="UserProfile" asp-action="Index"><i class="fas fa-user"></i>Profile</a></li>
			<li><a asp-controller="Home" asp-action="AboutUs"><i class="fas fa-address-card"></i>About</a></li>
			<li><a asp-controller="Home" asp-action="ContactUs"><i class="fas fa-address-book"></i>Contact</a></li>
		</ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">


<div class = "container mt-2">
        			@RenderBody()
					</div>



     
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
		
		
	</div>

	<footer class="border-top footer text-dark">
		<div class="container">
			&copy; 2022 - VSFBank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
