@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_DashboardLayout";
}

@if (TempData["username"] != null)
{
	   
}


<div class="container mt-2" style="margin-left: 200px">
  <div class="card">
    <div class="card-body"><h4>Change your password regularly</h4>

For the first time you login to your internet banking account, you will need to use the password provided by the bank. However, you need to change this password in order to keep your account safe. In addition, keep changing your password at regular intervals. More importantly, keep the password confidential at all times.
Do not use public computers to login</div>
</div>
 <div class="card">
<div class="card-body"><h4>Do not use public computers to login</h4>

Avoid logging in to your bank account at common computers in cyber cafes or libraries. These are crowded places, and there are more chances of your password being traced or seen by others. If you have to login from such places, make sure you clear the cache and browsing history, and delete all the temporary files from the computer. Also, never allow the browser to remember your ID and password.
</div>
</div>
<div class = "card">
<div class="card-body"><h4>Do not share your details with anyone</h4>

Your bank will never ask for your confidential information via phone or email. So whether you get an apparent phone call from the bank or an email requesting your details, do not give out your login information. Use your login ID and password only on the official login page of the bank, which should be a secure website. Look for 'https://' in the URL when logging in; it means that the website is secure.
</div>

</div>
<div class = "card">
<div class = "card-body">
<h4>Keep checking your savings account regularly</h4>Check your account after making any transaction online. Verify whether the right amount has been deducted from your account. If you see any discrepancies in the amount, inform the bank immediately.
</div>
</div>
<div class = "card">
<div class = "card-body">
<h4>
Always use licenced anti-virus software</h4>

To protect your computer from new viruses, ensure that you always use licenced anti-virus software. Pirated versions of anti-virus softwares may be available for free, but they may fail to protect your computer from new viruses prevalent in the online world. In addition, you will get notifications for updates in the software periodically. Make sure that you keep your anti-virus updated, so that your confidential information is always protected.
</div>
</div>
<div class = "card">
<div class = "card-body">
<h4>Disconnect the internet connection when not in use</h4>

Most broadband users do not disconnect the internet connection on their computer when they are not using it. Malicious hackers can access your computer via an internet connection and steal your confidential banking information. To keep your data protected, ensure that you disconnect from the internet when you do not require it.
</div>
</div>
<div class = "card">
<div class= "card-body"><h4>
Type your internet banking URL</h4>

It is a safer to type your bank URL in the address bar of the browser than clicking on links given in an email. There are instances of fraudsters sending emails with fraudulent websites links that are designed exactly like the bank’s original website. Once you enter your login details on such a website, they may be used to access your account and steal your money. While logging on, check for 'https://' in the URL and ensure that it is your bank’s authentic website.
</div></div></div>