@{
	ViewData["Title"] = "FundTransfer";
	Layout = "_DashboardLayout";
}

<h1 class = "align-text-top" style="margin-left: 100px">Fund Transfer</h1>
<p>


</p>
<div class="align-text-top">
<div class="card-columns col-sm-12" style="margin-left: 100px; position:absolute">
	<div class="card bg-light m-2 w-25">
		<div class="card-body text-center ">
			<p class="card-text"><a asp-controller="FundTransfer" asp-action=PaymentNEFT>Make Payment Through NEFT</a></p>
		</div>
	</div>
	<div class="card bg-light m-2 w-25">
		<div class="card-body text-center">
			<p class="card-text"><a asp-controller="FundTransfer" asp-action=PaymentRTGS>Make Payment Through RTGS</a></p>
		</div>
	</div>
	<div class="card bg-light m-2 w-25">
		<div class="card-body text-center">
			<p class="card-text"><a asp-controller="FundTransfer" asp-action=Payment>Make Payment Through IMPS</a></p>
		</div>
	</div>
</div>
</div>

