@model BankingManagementSystem.Models.TransactionDetail

@{
	ViewData["Title"] = "Payment";
	Layout = "_DashboardLayout";
}

<h1 class="text-center">Payment By IMPS</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Payment">
			<div class="login-container row bg-light text-black h-auto" style="left:35%; position:absolute">
				<div class="col-sm-12">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="AccountNumber" class="control-label"></label>
						<select asp-for="AccountNumber" class="form-control" asp-items="ViewBag.CAccs"></select>
					</div>
					<div class="form-group">
						<label asp-for="ToAccountNumber" class="control-label"></label>
						<select asp-for="ToAccountNumber" class="form-control" asp-items="ViewBag.Payees"></select>
					</div>
					<div class="form-group">
						<label asp-for="Amount" class="control-label"></label>
						<input type="number" asp-for="Amount" class="form-control" min="1" required="Amount Field is required" />
						<span asp-validation-for="Amount" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="TransactionDate" class="control-label"></label>
						<input asp-for="TransactionDate" class="form-control" data-val-required="Field is required" />
						<span asp-validation-for="TransactionDate" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Maturityinstruct" class="control-label"></label>
						<input asp-for="Maturityinstruct" class="form-control" />
						<span asp-validation-for="Maturityinstruct" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label> Remarks </label>
						<input type="text" class="form-control" name="remarks" />
					</div>

					<div class="form-group">
						<input type="submit" value="Make Payment" class="btn btn-primary" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
