@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3> Session Expired </h3>
<p> Click here to go to login page</p>

<div class="nav-item">
	  <a asp-controller="User" asp-action="Login">
		  <input type="button" class=".btn btn-lg btn-block btn-primary" id="login" name="Login" value = "Login"><br>
	  </a>          
</div>
