@model BankingManagementSystem.Models.RegisterNetBanking

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<h4>RegisterNetBanking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class = "form-group">
            <label asp-for= "CustomerId" class = "control-label" ></label>
            <input  asp-for="CustomerId" required asp-item ="CustomerId"/>
            </div>
            <div class = "form-group">
            <label asp-for="AccountNumber" class = "control-label"></label>
            <select asp-for="AccountNumber" asp-items = "@(new SelectList(ViewBag.accs,"AccountNumber","AccountNumber"))" class = "form-control" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Passwordd" class="control-label"></label>
                <input asp-for="Passwordd" required class="form-control" />
                <span asp-validation-for="Passwordd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionPassword" class="control-label"></label>
                <input asp-for="TransactionPassword" required class="form-control" />
                <span asp-validation-for="TransactionPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

