@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Profile";
	Layout = "_DashboardLayout";
}

<h1 class = "align-text-top" style="margin-left: 100px">User Profile</h1>
<div class="text-center">
	<div class="card-columns col-sm-12" style="margin-left: 100px; position:absolute">
		@*<div class="card-columns col-sm-12" style="margin-left: 600px">*@
			<div class="card bg-light m-2 w-25">
				<div class="card-body text-center ">
					<p class="card-text"><a asp-controller="UserProfile" asp-action=Details>Profile</a></p>
				</div>
			</div>
			<div class="card bg-light m-2 w-25">
				<div class="card-body text-center">
					<p class="card-text"><a asp-controller="UserProfile" asp-action=ChangePassword>Change Password</a></p>
				</div>
			</div>
			<div class="card bg-light m-2 w-25">
				<div class="card-body text-center">
					<p class="card-text"><a asp-controller="User" asp-action=Logout>LogOut</a></p>
				</div>
			</div>
		</div>
	@*</div>*@
</div>


